<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>JoinCon</servlet-name>
  	<display-name>JoinCon</display-name>
  	<description></description>
  	<servlet-class>com.foma_java_mvc_folder.Controller.JoinCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginCon</servlet-name>
  	<display-name>LoginCon</display-name>
  	<description></description>
  	<servlet-class>com.foma_java_mvc_folder.Controller.LoginCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LogoutCon</servlet-name>
  	<display-name>LogoutCon</display-name>
  	<description></description>
  	<servlet-class>com.foma_java_mvc_folder.Controller.LogoutCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateCon</servlet-name>
  	<display-name>UpdateCon</display-name>
  	<description></description>
  	<servlet-class>com.foma_java_mvc_folder.Controller.UpdateCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteCon</servlet-name>
  	<display-name>DeleteCon</display-name>
  	<description></description>
  	<servlet-class>com.foma_java_mvc_folder.Controller.DeleteCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SelectfdCon</servlet-name>
  	<display-name>SelectfdCon</display-name>
  	<description></description>
  	<servlet-class>com.foma_java_mvc_folder.Controller.SelectfdCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SelectfdCon2</servlet-name>
  	<display-name>SelectfdCon2</display-name>
  	<description></description>
  	<servlet-class>com.foma_java_mvc_folder.Controller.SelectfdCon2</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>BoardServlet</servlet-name>
  	<display-name>BoardServlet</display-name>
  	<description></description>
  	<servlet-class>com.saeyan.controller.BoardServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Action</servlet-name>
  	<display-name>Action</display-name>
  	<description></description>
  	<servlet-class>com.saeyan.controller.action.Action</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SubBoardServlet</servlet-name>
  	<display-name>SubBoardServlet</display-name>
  	<description></description>
  	<servlet-class>com.saeyan.controller.SubBoardServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>BoardGoodServlet</servlet-name>
  	<display-name>BoardGoodServlet</display-name>
  	<description></description>
  	<servlet-class>com.saeyan.controller.BoardGoodServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ListController</servlet-name>
  	<display-name>ListController</display-name>
  	<description></description>
  	<servlet-class>BoardListServlet.ListController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>findIdCon</servlet-name>
  	<display-name>findIdCon</display-name>
  	<description></description>
  	<servlet-class>com.foma_java_mvc_folder.Controller.findIdCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GoodBoardDesc</servlet-name>
  	<display-name>GoodBoardDesc</display-name>
  	<description></description>
  	<servlet-class>BoardListServlet.GoodBoardDesc</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UploadServlet</servlet-name>
  	<display-name>UploadServlet</display-name>
  	<description></description>
  	<servlet-class>com.saeyan.controller.UploadServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateServlet</servlet-name>
  	<display-name>UpdateServlet</display-name>
  	<description></description>
  	<servlet-class>com.saeyan.controller.UpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>JoinCon</servlet-name>
  	<url-pattern>/JoinCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginCon</servlet-name>
  	<url-pattern>/LoginCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LogoutCon</servlet-name>
  	<url-pattern>/LogoutCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateCon</servlet-name>
  	<url-pattern>/UpdateCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteCon</servlet-name>
  	<url-pattern>/DeleteCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SelectfdCon</servlet-name>
  	<url-pattern>/SelectfdCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SelectfdCon2</servlet-name>
  	<url-pattern>/SelectfdCon2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>BoardServlet</servlet-name>
  	<url-pattern>/BoardServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Action</servlet-name>
  	<url-pattern>/Action</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SubBoardServlet</servlet-name>
  	<url-pattern>/SubBoardServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>BoardGoodServlet</servlet-name>
  	<url-pattern>/BoardGoodServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ListController</servlet-name>
  	<url-pattern>/ListController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>findIdCon</servlet-name>
  	<url-pattern>/findIdCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GoodBoardDesc</servlet-name>
  	<url-pattern>/GoodBoardDesc</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UploadServlet</servlet-name>
  	<url-pattern>/UploadServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateServlet</servlet-name>
  	<url-pattern>/UpdateServlet</url-pattern>
  </servlet-mapping>

 
</web-app>
