footer.footer {
	margin-top: 65px;
  width: 100%;
  /* height: 300px; */
  background-color: #fb524f;
 
}
@media (min-width: 992px) {
    .banner {
        padding: 1px 0;
        margin-left: 350px;
        margin-top: 20px;
        text-align: center;
    }
}
body {
	background-image: url(bg-image/category-bg.jpg);
	/* background-image: url(../images/img2.jpg); */
	/* background-size: cover; */
	background-size: cover;
}
.container .pull-left img {
	height: 150px;
	width: 150px;
}
.container .media-body h6 {
	font-size: 15px;
}
.container .media-body a {
	font-size: 25px;
}
.container .media-body {
	margin-left: 10px;
}
.container .media-body span {
	margin-left: 2px;
}